@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}<h1>@Model.Name</h1>
<p>@Model.WelcomeText</p>
<img src="/media/mmrlsca5/48700.jpg" alt="Gorilla in the forest" width="1000" height="600">